body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
h1,
.nav-link,
.footer-link,
.btn-primary,
h5,
h3 p,
h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* .title {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 2vh;
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
} */
